@use './src/app/vars.scss';

.pageContainer {
    display: flex; 
    justify-content: center;
}
.cardContainer {
    width: 90vw;
    text-align: center;
}

.recipeCard {
    display: flex; 

    img {
        width: 40%;
       max-height: 40%; 
    }
}

.recipeHeader {
    background-color: vars.$goldMedium;
    padding: 10px; 
    padding-right: 60px;
    color: white;
    font-weight: 400;
}

.recipeInfo {
    display: flex;
    flex-direction: column;
    background-color: vars.$tealDark;
    height: 200vh;
    margin-top: 20px;
}