@use './src/app/vars.scss';

.pageContainer {
    display: flex; 
    justify-content: center;
}
.cardContainer {
    width: 90vw;
    text-align: center;
}

.recipeCard {
    display: flex; 

    img {
        width: 40%;
       max-height: 40%; 
    }
}

.recipeHeader {
    background-color: vars.$goldMedium;
    padding: 10px; 
    padding-right: 60px;
    color: white;
    font-weight: 400;
}

.recipeInfo {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    background-color: vars.$tealDark;
    height: 200vh;
    margin-top: 20px;

    .infoNav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        h1 {
            padding: 24px;
            width: 100%;
            margin-top: 0; 
            text-align: center;
            font-size: 24px !important;
            font-weight: 300;
        }

        .activeHeader {
            background-color: vars.$tealMedium;
        }
    }

    .infoNav:hover {
        cursor:pointer;
        h1:hover {
         background-color: vars.$tealDiff;
        }
    }

    button {
        width: 12vw;
        box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.35);
    }
}