@use "./vars";


html, body{
  width: 100vw;
  background-color: vars.$tealLight;
  font-family: var(--font-didact-gothic);
}

h1, h2, h3 {
  color: vars.$darkBrown;
  font-family: var(--font-playfair-display);
}

button {
  font-family: var(--font-didact-gothic);
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
