$tealLight: #D3DCD3;
$tealMedium: #A9BBA9;
$tealDark: #689483;

$goldLight: #FFD09F;
$goldMedium: #E49D53;

$orange: #B85535;
$lightBrown: #6E3320;
$darkBrown: #421E13;

$green: #354D44;
$darkGreen: #172D24;